kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: openshift-pipelines-operator
subjects:
- kind: ServiceAccount
  name: openshift-pipelines-operator
  # NOTE: replace this with the namespace the operator is deployed in.
  namespace: openshift-operators
roleRef:
  kind: ClusterRole
  name: openshift-pipelines-operator
  apiGroup: rbac.authorization.k8s.io
